################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/SmartSql.CAP/bin/Debug
/src/SmartSql.CAP/obj
/.vs/SmartSql.CAP/v16/.suo
