################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/SmartSql.CAP/bin/Debug
/src/SmartSql.CAP/obj
/.vs/SmartSql.CAP/v16/.suo
/src/SmartSql.CAP/bin/Release
/src/SmartSql.Cap.MySql/obj
/src/SmartSql.Cap.MySql/bin/Debug
/.vs/SmartSql.CAP
/samples/Sample.RabbitMQ.MySql/bin
/samples/Sample.RabbitMQ.MySql/obj
/.vs/ProjectEvaluation
